@font-face {
  font-family: "goku";
  src: url("fonts/goku.ttf");
  }
  h1 {
  font-family: "goku";
}

/* LOADER - Pantalla de carga con video */
#loader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #35594f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  
  #loader.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  body {
    background-color: #f0efed;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 0;
    overflow-x: hidden;
  }
  
  header {
    background-color:#f0efed;
    color: #403823;
  padding-top: 40px;
  padding-bottom: 15px;

    text-align: center;
  }
  
  header h1 {
    font-size: 190px;
    margin: 10px 0;
    margin-bottom: 0px;
    font-weight: normal;
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0.65;
  }
  
  header h2 {
margin-bottom: 30px;
  font-size: 19px; 
  font-family: "gotham", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.gamuza2 {
  position: relative;
  width: 100%;
}

.gamuza2 img {
  width: 100%;
  height: 180px;
  display: block;
}

.gamuza2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #f0efed;
font-size: 30px;
font-weight: 500;
}
  nav a {

    color: #000000;
    margin: 0 15px;
    text-decoration: underline;
    cursor: pointer;
  }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  text-align: center;
}

.producto img {
  width: 60%;
  height: auto;
  display: block;
  margin: 40px auto;   
  max-width: 1100px;   
}

.producto h4 {
  margin-top: 10px;
  font-weight: 400;
}

  li{ text-decoration: underline;}
  nav{ text-align: center;
  padding-top: 15px;}
  
  .sidebar {
    
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #e3dfdc;
    box-shadow: -2px 0 8px rgba(0,0,0,0.3);
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 900;
  }
  
  .overlay.active {
    display: block;
  }
  
  .cerrar-btn {
    background: #e3dfdc;
    color:#403823;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  /* Estilo para el video en el loader */
  #loader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  